.header {
    background: green;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo_wrapper {
    padding-top: 5px;
    margin-left: 20px;
}

.header img {
    display: block;
    border-radius: 30px;
    width: 50px;
    height: 35px;
}

.login__block {
    margin-right: 10px;
}
.login__link {
    text-decoration: none;
    color: #f8f8f8;
}