.header {
    background: green;
    grid-area: header;
}

.header__logo_wrapper {
    padding-top: 5px;
    margin-left: 20px;
}

.header img {
    display: block;
    border-radius: 30px;
    width: 50px;
    height: 35px;
}

